<!DOCTYPE html>
<html>
<head>
	<title>Aradhana'18 Portal</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/w3css.css">
	<link rel="shortcut icon" href="/images/tab.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style type="text/css">
		*{
			padding: 0px;
			margin: 0px;
		}
	</style>
</head>
<body>
	<div class="w3-content w3-black" style="width: 100vw; min-height: 95vh; max-width: 1000000px;">
		<div class="w3-button w3-red w3-margin w3-padding" onclick="window.open('https://aradhana18.github.io/aradhana18/')">Aradhana'18 Homepage</div>
		<div  class="w3-center">			
			<span class="w3-jumbo">Aradhana 18 Registration Portal</span>
		</div>
		<div>
			<form action="/individualReg" method="POST" onsubmit="return validateForm()">
				<div id="newStudent">
					<div class="w3-row">
						<div class="w3-col l6 m6 s6">
							<label class="w3-right w3-large w3-padding w3-margin ">Name</label>
						</div>
						<div class="w3-col l6 m6 s6">
							<input type="text" name="name" placeholder="Name" class="w3-left w3-large w3-padding w3-margin Name" style="width:320px;" required>
						</div>
					</div>
					<div class="w3-row" style="margin-bottom:30px;">
						<div class="w3-col l6 m6 s6">
							<label class="w3-right w3-large w3-padding w3-margin">Class</label>
						</div>
						<div class="w3-col l6 m6 s6">
							<input type="number" name="class" placeholder="Class" class="w3-left w3-large w3-padding w3-margin Class" min="1" max="10" style="width:320px;" required>
						</div>
					</div>			
				</div>
				<div class="w3-center">
					<button class="w3-btn w3-green" id="add" >+ Add Student</button>
				</div>		
				<div class="w3-row">
					<div class="w3-col l6 m6 s6">
						<label class="w3-right w3-xlarge w3-padding w3-margin">School</label>
					</div>
					<div class="w3-col l6 m6 s6">
						<input type="text" name="school" placeholder="School" class="w3-left w3-xlarge w3-padding w3-margin" required>
					</div>
				</div>
				<div class="w3-row">
					<div class="w3-col l6 m6 s6">
						<label class="w3-right w3-xlarge w3-padding w3-margin">Phone Number</label>
					</div>
					<div class="w3-col l6 m6 s6">
						<input type="text" name="ph" placeholder="Phone Number" maxlength=11 class="w3-left w3-xlarge w3-padding w3-margin" required>
					</div>
				</div>
				<div class="w3-row">
					<div class="w3-col l6 m6 s6">
						<label class="w3-right w3-xlarge w3-padding w3-margin">Event</label>
					</div>
					<div class="w3-col l6 m6 s6">
						<input type="text" name="event" class="w3-left w3-xlarge w3-padding w3-margin" value=<%= qs.event %> readonly>
					</div>
				</div>
				<div class="w3-row">
					<div class="w3-col l6 m6 s6">
						<label class="w3-right w3-xlarge w3-padding w3-margin">Category</label>
					</div>
					<div class="w3-col l6 m6 s6">
						<input type="text" name="category" class="w3-left w3-xlarge w3-padding w3-margin" value=<%= qs.category %> readonly>
					</div>
				</div>
				<div class="w3-center">
					<input type="submit" class="w3-button w3-xxlarge w3-margin w3-padding w3-yellow" id="submit" value="Submit!!">
				</div>				
			</form>
		</div>
	</div>
	<div class="w3-container w3-yellow" style="position: relative; left: 0px; bottom: 0px;min-height: 5vh;width: 100vw;">
		<div class="w3-center">
			<a class="w3-btn w3-xlarge w3-bar-item w3-right" href="https://twitter.com/spicmacaynitk?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a class="w3-btn w3-xlarge w3-bar-item w3-right" href="https://www.facebook.com/spicmacay.nitk/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		</div>		
	</div>
	<script type="text/javascript">
		$("document").ready(function () {
			var a=[];
			
			$("#add").click(function(){
				var html = '<div class="w3-row"><div class="w3-col l6 m6 s6"><label class="w3-right w3-large w3-padding w3-margin ">Name</label></div><div class="w3-col l6 m6 s6"><input type="text" name="name" placeholder="Name" class="w3-left w3-large w3-padding w3-margin Name" style="width:320px;" required></div></div><div class="w3-row" style="margin-bottom:30px;"><div class="w3-col l6 m6 s6"><label class="w3-right w3-large w3-padding w3-margin">Class</label></div><div class="w3-col l6 m6 s6"><input type="text" name="class" placeholder="Class" class="w3-left w3-large w3-padding w3-margin Class" style="width:320px;" required></div></div>';
				var NAME = $('.Name:eq(-1)').val().trim();
				var CLASS = $('.Class:eq(-1)').val();
				var CATEGORY = $('input[name=category]').val();

				if(NAME===" "||NAME==null||NAME==undefined||NAME=="")
					alert('Enter valid name\n');
				else if(CATEGORY==='I' && (CLASS<1||CLASS>4))
					alert('Invalid Class\nEnter class between (1-4)');
				else if(CATEGORY==='II' && (CLASS<5||CLASS>7))
					alert('Invalid Class\nEnter class between (5-7)');
				else if(CATEGORY==='III'&&(CLASS<8||CLASS>10))
					alert('Invalid Class\nEnter class between (8-10)');
				else{
					a = [];
					$('.Name').each(function (index,obj) {
						var x = {};
						x.name = $(this).val();
						$(this).removeProp('required');
						$(this).prop('readonly',true);
						a.push(x);
					});
					console.log(a);
					$('.Class').each(function(index,object){
						a[index].class = $(this).val();
						$(this).removeProp('required');
						$(this).prop('readonly',true);
						console.log(a[index].class+ " " + index);
					});
						console.log(a);
					$('#newStudent').append(html);
				};		
			});
		});
		function validateForm(){
			var NAME = $('.Name:eq(-1)').val().trim();
			var CLASS = $('.Class:eq(-1)').val();
			var CATEGORY = $('input[name=category]').val();
			var PH = $('input[name=ph]').val();
			console.log('validating');
			if(NAME===" "||NAME==null||NAME==undefined||NAME=="")
				return false;
			else if(CATEGORY==='I' && (CLASS<1||CLASS>4)){
				alert('Invalid Class\nEnter class between (1-4)');
				return false;
			}				
			else if(CATEGORY==='II' && (CLASS<5||CLASS>7)){
				alert('Invalid Class\nEnter class between (5-7)');
				return false;
			}
			else if(CATEGORY==='III'&&(CLASS<8||CLASS>10)){
				alert('Invalid Class\nEnter class between (8-10)');
				return false;
			}
			else if(PH.search(/\D/)>-1||PH.length<10){
				alert('NUMBERS ONLY OF STRINGLENGTH greater than or equal to 10');
				return false;
			}
			else
				return true;
		}
	</script>
</body>
</html>	